<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- dbutils -->
	<bean id="queryRunner" class="org.apache.commons.dbutils.QueryRunner" scope="prototype">
		<constructor-arg ref="dataSourceProxy"/>
	</bean>

	<bean id="dbUtilsTemplate" class="com.andyadc.codeblocks.test.db.DbUtilsTemplate">
		<!--		<property name="dataSource" ref="hikariDataSource"/>-->
		<property name="dataSource" ref="dbcpDataSource"/>
	</bean>

	<tx:annotation-driven proxy-target-class="true"/>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceProxy"/>
	</bean>

	<bean id="dataSourceProxy" class="org.springframework.jdbc.datasource.TransactionAwareDataSourceProxy">
		<property name="targetDataSource" ref="hikariDataSource"/>
	</bean>

	<!-- dbcp -->
	<bean id="dbcpDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3307/idea"/>
		<property name="username" value="root"/>
		<property name="password" value="andyadc"/>
	</bean>

	<!-- HikariCP dataSource -->
	<bean id="hikariDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<constructor-arg ref="hikariConfig"/>
	</bean>

	<!-- HikariCP configuration -->
	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="poolName" value="spring-hikari-pool"/>
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3307/idea"/>
		<property name="username" value="root"/>
		<property name="password" value="andyadc"/>
		<property name="maximumPoolSize" value="20"/>
		<property name="minimumIdle" value="10"/>
		<property name="idleTimeout" value="30000"/>
		<property name="connectionTestQuery" value="SELECT 1"/>
		<property name="autoCommit" value="true"/>
	</bean>
</beans>
