<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="perf4jFile" class="ch.qos.logback.core.FileAppender">  
            <file>pref.log</file>  
            
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
                    <pattern>%m%n</pattern>  
                
        </encoder>
          
    </appender>

    <appender name="perf4j" class="com.andyadc.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <param name="timeSlice" value="1000"/>
        <appender-ref ref="perf4jFile"/>
    </appender>

    <!--org.perf4j.TimingLogger是StopWathc的日志名，additivity false表示只写到perf4j文件-->  
    <logger name="org.perf4j.TimingLogger" additivity="false">  
            <level value="debug"/>  
            <appender-ref ref="perf4j"/>  
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>