<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

	<link rel="apple-touch-icon" sizes="180x180" th:href="@{static/favicon/apple-touch-icon.png}">
	<link rel="icon" sizes="32x32" th:href="@{static/favicon/favicon-32x32.png}" type="image/png">
	<link rel="icon" sizes="16x16" th:href="@{static/favicon/favicon-16x16.png}" type="image/png">
	<link rel="manifest" th:href="@{static/favicon/site.webmanifest}">

	<title>Welcome</title>
	<style>
		body {
			color: #666;
			text-align: center;
			font-family: Helvetica, 'microsoft yahei', Arial, sans-serif;
			width: 800px;
			margin: auto;
			font-size: 14px;
		}
	</style>
</head>
<body>
<p><strong>Success!</strong> It is working as we expected.</p>
<span th:text="${timestamp}">timestamp</span>
</body>
</html>
