<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<style>
		center {
			display: block;
			text-align: -webkit-center;
		}

		.btn-primary {
			font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;
			text-decoration: none;
			color: #FFF;
			background-color: #63b175;
			border: solid #63b175;
			line-height: 2;
			max-width: 100%;
			font-size: 14px;
			padding: 8px 40px 8px 40px;
			margin: 30px auto;
			text-align: center;
			font-weight: 600;
			cursor: pointer;
			display: inline-block;
			border-radius: 30px;
		}
	</style>
</head>
<body>
<center>
	<a class="confirmation-url btn-primary" href="/" rel="noopener" target="_blank">
		Confirm Email
	</a>
</center>
</body>
</html>
