<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header(title)">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<title th:text="${title}"></title>
	<link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/assets/font-awesome/css/font-awesome.css}">

</head>
