<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.andyadc.codeblocks.mybatis.mapper">

    <resultMap id="BaseResultMap" type="com.andyadc.codeblocks.mybatis.test.BankMapping">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="bank_code" jdbcType="VARCHAR" property="bankCode"/>
        <result column="bank_name" jdbcType="VARCHAR" property="bankName"/>
        <result column="card_type" jdbcType="INTEGER" property="cardType"/>
    </resultMap>

    <select id="selectBankMapping" resultMap="BaseResultMap">
        SELECT * FROM bank_mapping
    </select>

    <update id="updateByPrimaryKeySelective">
        UPDATE bank_mapping
        <set>
            <if test="bankCode != null">
                bank_code = #{bankCode},
            </if>
            <if test="bankName != null">
                bank_name = #{bankName},
            </if>
            <if test="cardType != null">
                card_type = #{cardType},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bank_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="bankCode != null">
                bank_code,
            </if>
            <if test="bankName != null">
                bank_name,
            </if>
            <if test="cardType != null">
                card_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="bankCode != null">
                #{bankCode},
            </if>
            <if test="bankName != null">
                #{bankName},
            </if>
            <if test="cardType != null">
                #{cardType},
            </if>
        </trim>
    </insert>

    <select id="selectBankMappingSelective" resultMap="BaseResultMap">
        SELECT * FROM bank_mapping
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="bankCode != null">
                AND bank_code = #{bankCode}
            </if>
            <if test="bankName != null">
                AND bank_name = #{bankName}
            </if>
            <if test="cardType != null">
                AND card_type = #{cardType}
            </if>
        </where>
    </select>

</mapper>