<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="db.properties"/>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
		<typeAlias alias="BankMapping" type="framework.test.mybatis.BankMapping"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.andyadc.codeblocks.framework.mybatis.pagination.PaginationInterceptor">
            <!--<property name="dialectClass" value="com.andyadc.codeblocks.mybatis.pagination.dialect.MySQLDialect"/>-->
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="db-mapper.xml"/>
    </mappers>

</configuration>
