<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<description>Spring Database</description>

	<!-- MyBatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="typeAliasesPackage" value="com.andyadc.codeblocks.**.entity"/>
		<property name="typeAliasesSuperType" value="com.andyadc.codeblocks.common.BaseEntity"/>
		<property name="mapperLocations" value="classpath:/mappings/**/*Mapper.xml"/>
		<property name="configLocation" value="classpath:/mybatis-config.xml"/>
	</bean>

	<bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.andyadc.codeblocks.**.mapper"/>
		<property name="annotationClass" value="com.andyadc.codeblocks.framework.mybatis.MyBatisRepository"/>
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

	<!--<import resource="applicationContext-db-hikari.xml"/>-->
	<import resource="applicationContext-db-druid.xml"/>
	<!--<import resource="applicationContext-db-tomcat.xml"/>-->

</beans>
