<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-lazy-init="false">

	<description>HikariCP JDBC Pool Configuration</description>

	<!-- HikariCP dataSource -->
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<constructor-arg ref="hikariConfig"/>
	</bean>

	<!-- HikariCP configuration -->
	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="poolName" value="${hikari.pool.name}"/>
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		<property name="maximumPoolSize" value="${hikari.pool.maximumPoolSize}"/>
		<property name="minimumIdle" value="${hikari.pool.minimumIdle}"/>
		<property name="idleTimeout" value="${hikari.pool.idleTimeout}"/>
		<property name="connectionTestQuery" value="SELECT 1"/>
		<property name="autoCommit" value="false"/>
		<property name="dataSourceProperties">
			<props>
				<prop key="cachePrepStmts">true</prop>
				<prop key="useServerPrepStmts">true</prop>
				<prop key="prepStmtCacheSize">250</prop>
				<prop key="prepStmtCacheSqlLimit">2048</prop>
			</props>
		</property>
	</bean>
</beans>
